
.storybook-menu__default {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-menu__default--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-menu__default--secondary {
  color: #333;
  background-color: #e2e2e2;
}
.storybook-menu__default--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-menu__default--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-menu__default--large {
  font-size: 16px;
  padding: 12px 24px;
}
